{{!--Extends the main layout--}}
{{#> layouts/main }}

  <section class="matches-container">

    {{# each match }}
      {{> matchesChat
        dogName = name
        images = images
        chatStatus = status
        lastMessage = lastMessage
        email = email
        id = _id
      }}
    {{/ each }}

  </section>

{{/ layouts/main }}