{{#> layouts/main }}

<body>
<div class="bg-circle"></div>
<div class="bg-circle"></div>
<nav class="setting-nav">
  <ul class="mobile-nav">
    <li></li>
    <li class="current-page">
      New Match!
    </li>
    <li>
      <a href="#">
        <div class="default-button setting-button">
          <img src="../media/images/settings.svg"
               alt="Settings"/>
        </div>
      </a>
    </li>
  </ul>

  <ul class="desktop-nav">

    <li>
      <a href="#">
        <div class="default-button">
          <img src="../media/images/match.svg"
               alt="Match a dog!"/>
        </div>
        Matches
      </a>

    </li>
    <li>
      <a href="matches.html">
        <div class="default-button">
          <img src="../media/images/matches.svg"
               alt="All your matches"/>
        </div>
        Chats
      </a>
    </li>
    <li>
      <a href="matches.html">
        <div class="default-button ">
          <img src="../media/images/profile.svg"
               alt="Dog Profile"/>
        </div>
        Profile
      </a>
    </li>
    <li>
      <a href="matches.html">
        <div class="default-button">
          <img src="../media/images/settings-green.svg"
               alt="Settings"/>
        </div>
        Settings
      </a>
    </li>
  </ul>
</nav>


<!--    On swipe left/right, go to the next or previous dog-->
<!--    On swipe up, open the dog biography-->
<section class="dog-container">
  <section class="dog-image">
    <img src="../media/images/bobby/bobby-pup.jpg"
         alt="Bobby"
         class="main-image">
  </section>

  <section class="dog-bio">
    <h2 class="dog-name"> Bobby. </h2>
  </section>

  <section class="more-details">
    <img src="../media/images/arrowdown.svg"
         alt="More Details">
  </section>
</section>

<section class="new-match">
  <div class="primary-btn">
    Chat Now!
  </div>
  or
  <div class="secondary-btn">
    Keep looking
  </div>
</section>

<nav class="action-nav">
  <ul>
    <li>
      <div class="default-button ">
        <img src="../media/images/profile.svg"
             alt="Check your profile"/>
      </div>
      Profile
    </li>

    <li>
      <div class="default-button ">
        <img src="../media/images/match.svg"
             alt="Match a new dog"/>
      </div>
      Match!
    </li>

    <li>
      <div class="default-button ">
        <img src="../media/images/matches.svg"
             alt="All the Chats"/>
      </div>
      Matches
    </li>
  </ul>
</nav>
</body>
</html>

{{/ layouts/main}}