/* Matches Page*/

form {
  width: 100%;
  position: relative;
}
button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.matches-container {
  margin-top: 8em;
  max-width: 20em;
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  z-index: 5;
}

.matches-container .single-match {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  box-shadow: #d0d0d0 0 3px 8px 0;
  background-color: var(--light-color);
  padding-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.active-chat {
  background-color: var(--call-to-action)!important;
  animation: point-right 1s cubic-bezier(.81,.04,.78,.97) forwards;
}
.active-chat .chat-status {
  color: var(--dark-color)!important;
}

.matches-container .single-match .match-content {
  display: flex;
  padding-left: .5em;
  align-items: center;
  width: 65%;
}
.matches-container .single-match .match-content .chat-info {
  padding-left: .5em;
}
.matches-container .single-match .profile-picture {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-top-right-radius: 0;
  overflow: hidden;
  box-shadow: #d0d0d0 0 3px 8px 0;
  background: #fff;
}
.matches-container .single-match .profile-picture img {
  width: 100%;
  height: auto;
  background-position: center;

}

.matches-container .single-match .chat-button {
  transform: rotate(-90deg);

}

.matches-container .single-match .chat-info .chat-name {
  font-size: 1em;
  font-family: var(--heading);
  font-weight: 100;
  color: var(--dark-color);
  margin: 0;
}
.matches-container .single-match .chat-info .chat-status {
  font-size: .5em;
  font-weight: bold;
  color: var(--call-to-action);
}

.matches-container .single-match .chat-info .last-message {
  font-size: 0.8em;
}


@keyframes point-right {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left:5px;
  }
  100% {
    margin-left: 0;
  }
}

